:root {

}

body, html {
    margin: 0; 
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_container {
    height: 80%;
    width: 80%;
    border: solid grey 1px;
    

}